name: darwin

on:
  push:
    branches:
        - master
        - dev
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
    - name: pull-all-the-source
      uses: actions/checkout@v2
      with:
        repository: '${{ github.repository }}'
        submodules: 'true'

    - name: install-ninja
      uses: seanmiddleditch/gha-setup-ninja@master

    - name: build
      run: cargo build -vv --target=x86_64-apple-darwin
