name: darwin

on:
  push:
    branches:
        - master
        - dev
  pull_request:
    branches:
        - master
        - dev

env:
  CARGO_TERM_COLOR: always

jobs:
  build-macos:
    runs-on: macos-latest

    steps:
    - name: pull-all-source
      uses: actions/checkout@v2
      with:
        repository: '${{ github.repository }}'
        submodules: 'true'

    - name: patch-cov
      run: git apply .github/workflows/sancov-remove.patch

    - name: build
      run: cargo build -vv --target=x86_64-apple-darwin

    - name: tests
      run: cargo test -vv
